source https://api.nuget.org/v3/index.json

nuget NUnit 2.6.4 restriction: >= net45
nuget NUnitTestAdapter 2.1.1 restriction: >= net45
nuget Newtonsoft.Json
nuget NuGet.CommandLine
nuget fake 4.60.0
nuget fsharp.faketargets
nuget nunit.runners 2.6.4
